{% extends "meh/base.html" %}
{% block title %}
    <title>object.title</title>
{% endblock title %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.username.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'author-detail' object.author_url %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.year }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'book-detail' object.id %}">{{ object.title }}</a></h2>
            <p class="article-content">{{ object.about }}</p>
            <a class="mr-2" href="{% url 'user-books' object.username %}">{{ object.username }}</a>
        </div>
    </article>
{% endblock content %}