{% extends "meh/base.html" %}
{% block title %}
    <title>{{ books.0.username }}'s Books</title>
{% endblock title %}

{% block content %}
    {% for book in books %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ book.username.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'author-detail' book.author_url %}">{{ book.author }}</a>
                    <small class="text-muted">{{ book.year }}</small>
                    {% if book.username == user %}
                        <a class="icon-btn" href="{% url 'book-update' book.id%}" title="Edit Book">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a class="icon-btn" href="{% url 'book-delete' book.id%}" title="Delete Book">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    {% endif %}
                </div>
                <h2><a class="article-title" href="{% url 'book-detail' book.id %}">{{ book.title }}</a></h2>
                <p class="article-content">{{ book.about }}</p>
                <a class="mr-2" href="{% url 'user-books' book.username %}">{{ book.username }}</a>
            </div>
        </article>
    {% endfor %}
{% endblock content %}